@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    /* font-family: 'Inter', sans-serif; */
    font-family: 'Rubik', sans-serif;
}

.bg-indigo {
    background-color: #6ecf44;
}

.text-indigo {
    color: #6ecf44;
}

.hero {
    background-image: url('/bg.svg');
}
.bg-indigo:hover {
    background-color: green;
    color: white;
  }
a.active{
    color:#00bc75;
}
.text-gradi {
    background: -webkit-linear-gradient(#6bd53f, #99f174);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}